<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive site -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- chrome frame -->
		<meta name="viewport" content="user-scalable=no"> <!-- prevents browser zoom on small devices -->
		<link rel="author" href="humans.txt">
		<meta name="description" content="UNSW Vovinam martial art club">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">	
	    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="shortcut icon" type="image/x-icon" href="/ico/favicon.ico">	    
		<link rel="icon" type="image/x-icon" href="/ico/favicon.ico">	    
	</head>
	<body>
  <div class="container">
    <div class="masthead" role="navigation">
      <div class="masthead-head">
	  <a href="/"><img id="logo" src="{{ site.baseurl }}{{ post.url }}/ico/logo.ico" alt="club_logo"></a>
        <a href="/"><h3 id="brand" class="text-muted">UNSW Vovinam</h3></a>
      </div>
      <ul class="nav nav-justified">
        <li {% if page.url == "{{ site.baseurl }}/index.html" %}class="active"{% endif %}><a href="/">Home</a></li>
        <li {% if page.url == "{{ site.baseurl }}/about/index.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/about/">About Us</a></li>
        <li {% if page.url == "{{ site.baseurl }}/overview/index.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/overview/">Training Overview</a></li>
        <li {% if page.url == "{{ site.baseurl }}/joinus/index.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/joinus/">Join Us</a></li>
      </ul>
    </div> <!--masthead-->

    <header role="banner">

    </header>

    {{ content }}

    <footer class="footer row" role="contentinfo">
      <div class="row">
        <div class="col-md-4">
          <p class="footer-caption">Contact</p>
          <p>Email: info@unswvovinam.org</p>
        </div>
        <div class="col-md-5">
          <p class="footer-caption">Training time and location</p>
          <p>6pm - 7:30pm on Monday and Wednesday at Physics Lawn</p>
        </div>
        <div class="col-md-3">
          <p class="footer-caption">Find us on Facebook</p>
          <a href="https://www.facebook.com/groups/unswvovinamclub/" target="_blank" class="btn btn-social-icon btn-facebook footer-btn"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </footer>
  </div> <!--container-->

  <!--
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>if (!window.jQuery) {document.write('<script src="/js/jquery.min.js"><\/script>');}</script>
	<script src="/js/custom.js"></script>
  -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48392259-1', 'unswvovinam.org');
    ga('send', 'pageview');
  </script>
</body>
</html>
